{% extends "TmsRestClientBundle:Browser:layout.html.twig" %}

{% import _self as macros %}

{% macro displayData(name, value, source, isLink, isAction, data) %}
    {% import _self as macros %}

    {% if name is same as('links') %}
        {% set isLink = 1 %}
    {% endif %}

    {% if isAction != 0 %}
        {% set isAction = isAction - 1 %}
    {% endif %}
    {% if name is same as('actions') %}
        {% set isAction = 3 %}
    {% endif %}

    <li>
        {% if value is iterable %}
            {{ name }}:
            {% if isAction == 2 %}
                <form action="{{ path('tms_restclient_browser_execute', {url: value.href, method: value.method, source: source}) }}" method="post">
            {% endif %}

            <ul>
                {% for embeddedName, embeddedValue in value %}
                    {% if embeddedName is same as('actions') and value.data is defined %}
                        {% set data = value.data %}
                    {% elseif embeddedName is same as('actions') %}
                    plip
                    {% endif %}

                    {% if isAction == 2 and (embeddedName is same as('requiredParams') or embeddedName is same as('optionalParams')) %}
                        <li>{{ embeddedName }}:
                            <ul>
                                {% for field, requirements in embeddedValue %}
                                    {% if data is defined and data[field] is defined and field is same as('id') %}
                                        <input type="hidden" name="{{ 'params[' ~ field ~ ']' }}" value="{{ data[field] }}" />
                                    {% else %}
                                        <li>{{ field }}: <input type="text" name="{{ 'params[' ~ field ~ ']' }}" /></li>
                                    {% endif %}
                                {% endfor %}
                            </ul>
                        </li>
                    {% else %}
                        {{ macros.displayData(embeddedName, embeddedValue, source, isLink, isAction, data) }}
                    {% endif %}
                {% endfor %}
            </ul>

            {% if isAction == 2 %}
                    <input type="submit" value="Execute" />
                </form>
            {% endif %}
        {% else %}
            {% if isLink == 1 and name == 'href' %}
                {{ name }}: <a href="{{ path('tms_restclient_browser_crawl', {url: value}) }}">{{ value }}</a>
            {% else %}
                {{ name }}: {{ value }}
            {% endif %}
        {% endif %}
    </li>

    {% if name is same as('links') %}
        {% set isLink = 0 %}
    {% endif %}

    {% if name is same as('actions') %}
        {% set isAction = 0 %}
    {% endif %}
{% endmacro %}

{% block content %}
    {{ block('nav') }}

    {% if hypermedia.metadata is defined %}
        <ul>
            {{ macros.displayData('metadata', hypermedia.metadata, source, 0, 0) }}
        </ul>
    {% endif %}

    {% if hypermedia.links is defined %}
        <ul>
            {{ macros.displayData('links', hypermedia.links, source, 0, 0) }}
        </ul>
    {% endif %}

    {% if hypermedia.actions is defined %}
        <ul>
            {% if hypermedia.data is defined %}
                {{ macros.displayData('actions', hypermedia.actions, source, 0, 0, hypermedia.data) }}
            {% else %}
                {{ macros.displayData('actions', hypermedia.actions, source, 0, 0) }}
            {% endif %}
        </ul>
    {% endif %}

    {% if hypermedia.data is defined %}
        <ul>
            {{ macros.displayData('data', hypermedia.data, source, 0, 0) }}
        </ul>
    {% endif %}
{% endblock %}