{% extends "TmsRestClientBundle:Browser:layout.html.twig" %}

{% import _self as macros %}

{% macro displayData(name, value, isLink) %}
    {% import _self as macros %}
    
    {% if name == 'links' %}
        {% set isLink = 1 %}
    {% endif %}

    <li>
        {% if value is iterable %}
            {{ name }}:
            <ul>
                {% for embeddedName, embeddedValue in value %}         
                    {{ macros.displayData(embeddedName, embeddedValue, isLink) }}
                {% endfor %}
            </ul>
        {% else %}
            {% if isLink == 1 and name == 'href' %}
                {{ name }}: <a href="{{ path('tms_restclient_browser_crawl', {url: value}) }}">{{ value }}</a>
            {% else %}
                {{ name }}: {{ value }}
            {% endif %}
        {% endif %}
    </li>

    {% if name == 'links' %}
        {% set isLink = 0 %}
    {% endif %}
{% endmacro %}

{% block content %}
    {% if hypermedia.metadata is defined %}
        <ul>
            {{ macros.displayData('metadata', hypermedia.metadata, 0) }}
        </ul>
    {% endif %}

    {% if hypermedia.allLinks is defined %}
        <ul>
            {{ macros.displayData('links', hypermedia.allLinks, 0) }}
        </ul>
    {% endif %}

    {% if hypermedia.data is defined %}
        <ul>
            {{ macros.displayData('data', hypermedia.data, 0) }}
        </ul>
    {% endif %}
{% endblock %}